import { CSSResultGroup, html } from 'lit';
import FlpElement from '../../utils/flippico-element';
import {customElement, property} from 'lit/decorators.js';

import { flippico } from './{{name}}.styles';

/**
 * @summary This the {{name}} component
 *
 * @tag {{name}}
 */
 @customElement("{{name}}")
export class Flp{{sentence (replace name "flp-" "")}} extends FlpElement {
  static styles: CSSResultGroup = [flippico];

  render() {
    return html`<div><slot></slot></div>`;
  }
}
