import { html } from 'lit';
import { Story } from '../../types/storybook';
import { {{pascalcase (replace (replace name "flp-" "") "-" " ")}} } from './{{name}}.types';
import './{{name}}';
import './../../themes/light.css';
import './../../themes/dark.css';

export default {
  title: 'components/{{pascalcase (replace (replace name "flp-" "") "-" " ")}}',
  component: '{{name}}',
}

const defaultProps: {{pascalcase (replace (replace name "flp-" "") "-" " ")}} = {};

const Template: Story<{{pascalcase (replace (replace name "flp-" "") "-" " ")}}> = (
  props: {{pascalcase (replace (replace name "flp-" "") "-" " ")}},
  {
    globals: { theme },
  }: {
    globals: { theme: string };
  }
) => html`
  <div class="flp-theme-light">
    <{{name}}>
      {{pascalcase (replace (replace name "flp-" "") "-" " ")}}
    </{{name}}>
  </div>
`;

export const Default = Template.bind({});
Default.args = defaultProps;
